@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --color-tropical-teal-50: oklch(97.40% 0.016 196.90);
  --color-tropical-teal-100: oklch(94.76% 0.032 194.24);
  --color-tropical-teal-200: oklch(89.81% 0.062 194.84);
  --color-tropical-teal-300: oklch(84.98% 0.087 194.72);
  --color-tropical-teal-400: oklch(80.71% 0.108 193.73);
  --color-tropical-teal-500: oklch(76.91% 0.122 192.91);
  --color-tropical-teal-600: oklch(65.17% 0.102 193.27);
  --color-tropical-teal-700: oklch(52.86% 0.081 193.87);
  --color-tropical-teal-800: oklch(40.05% 0.061 193.42);
  --color-tropical-teal-900: oklch(25.79% 0.036 192.17);
  --color-tropical-teal-950: oklch(21.26% 0.028 191.24);
}

@theme {
  --font-sans: 'Public Sans', sans-serif;

  --font-stylized: 'Tektur', sans-serif;
}

@layer theme {
  h1, h2 {
    @apply font-stylized;
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}